$darkGray: hsl(0, 0%, 59%);
$veryDarkGray: hsl(0, 0%, 30%);

$darkCyan: hsl(185, 75%, 39%);
$desaturatedBlue: hsl(229, 23%, 23%);
$transparentDesaturatedBlue: hsla(229, 23%, 23%, .25);
$grayishBlue: hsl(227, 10%, 46%);
$transparentGrayishBlue: hsla(227, 10%, 46%, .2);
$white: hsl(0, 0%, 100%);

