@mixin centerGrid {
    display: grid;
    place-items: center;
}

@mixin background-image($url) {
    background: {
        image: url($url);
        position: top center;
        repeat: no-repeat;
        size: cover;
    }
}

@mixin fontsStyle ($size: 1rem, $weight: 500, $color: colors.$darkBlue ) {
    font: {
        size: $size;
        weight: $weight;
    }
    
    color: $color;
}

@mixin size($width: auto, $height: auto) {
    width: $width;
    height: $height;
}
